# ==============================================================================
# Operating System Files
# ==============================================================================
.DS_Store

# ==============================================================================
# IDE / Editor Files
# ==============================================================================
/.vscode/

# ==============================================================================
# Python
# ==============================================================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
*.egg
.installed.cfg

# Testing / Coverage
*.cover
*.manifest
*.spec

# ==============================================================================
# Virtual Environments
# ==============================================================================
.venv/

# ==============================================================================
# Logs and Outputs
# ==============================================================================
*.log
MUJOCO_LOG.TXT
**/eval_logs/
**/tensorboard_logs/
**/monitor_logs.csv

# ==============================================================================
# Data and Media Files
# ==============================================================================
data/
*.gif
*.mp4
*.pt
hanoi_dataset

# ==============================================================================
# External Dependencies / Submodules
# ==============================================================================
Metaworld
mimicgen
robomimic

# ==============================================================================
# Project-Specific Directories
# ==============================================================================
debug_plots/
lerobot/
object_detection/
rlds_dataset_builder
runs/
wandb/

# ==============================================================================
# Dummy PDDL Files
# ==============================================================================
# Ignore dummy PDDL problems
planning/PDDL/cubesorting/problem_dummy.pddl
planning/PDDL/patternreplication/problem_dummy.pddl
planning/PDDL/heightstacking/problem_dummy.pddl
planning/PDDL/hanoi/problem_dummy.pddl
planning/PDDL/assemblyline/problem_dummy.pddl
planning/PDDL/nut_assembly/problem_dummy.pddl
planning/PDDL/kitchen/problem_dummy.pddl

DEBUG_PLOTS_README.md