# config.yaml

vlm_agent:
  api_key: "your_api_key"
  model: "gpt-4o"
  temperature: 0
planning_dir: "Planning/HDDL"
init_planning_domain: "coffee_prep_domain.hddl"
init_planning_problem: "coffee_prep_problem.hddl"
generic_planning_domain: "generic_domain.hddl"
new_planning_problem: "new_problem.hddl"

logging: # TODO: enable this
  level: "INFO"
  file: "vlm_agent.log"
