# config.yaml
vlm_agent:
  api_key: "your_api_key"
  model: "o1-preview"
  temperature: 0.5
# seting for image observation
image_path: "images/agent_view.jpg"
# setting for testing PDDL. Uncoment when testing.

planning_dir: "Planning/PDDL/coffee"
init_planning_domain: "coffee_domain.pddl" # the initial domain file
modified_planning_domain: "modified_coffee_domain.pddl" # final domain file will be saved as this
planning_problem: "coffee_problem.pddl" # the partially defined planning problem file
novel_objects: ["drawer1"]
num_op_candidates: 5
max_new_operators_branching_factor: 1 # prompt the llm this many times in each state for a new operator
max_num_llm_calls: 60
max_depth: 15 # maximum search depth
min_plan_candidates: 1 # end search early if this many plans are found

# planning_dir: "Planning/PDDL/cleanup"
# init_planning_domain: "cleanup_domain.pddl" # the initial domain file
# modified_planning_domain: "modified_cleanup_domain.pddl" # final domain file will be saved as this
# planning_problem: "cleanup_problem.pddl" # the partially defined planning problem file
# novel_objects: ["mug1"]
# num_op_candidates: 5
# max_new_operators_branching_factor: 1 # prompt the llm this many times in each state for a new operator
# max_num_llm_calls: 30
# max_depth: 15 # maximum search depth
# min_plan_candidates: 1 # end search early if this many plans are found

# planning_dir: "Planning/PDDL/nut_assembly"
# init_planning_domain: "nut_assembly_domain.pddl" # the initial domain file
# modified_planning_domain: "modified_nut_assembly_domain.pddl" # final domain file will be saved as this
# planning_problem: "nut_assembly_problem.pddl" # the partially defined planning problem file
# novel_objects: ["round-peg1"]
# num_op_candidates: 5
# max_new_operators_branching_factor: 1 # prompt the llm this many times in each state for a new operator
# max_num_llm_calls: 30
# max_depth: 4 # maximum search depth
# min_plan_candidates: 1 # end search early if this many plans are found


logging: # TODO: enable this
  level: "INFO"
  file: "vlm_agent.log"
